        h1{
            color:red;
            padding: 10px 30px;
            font-family: "Playfair Display", serif;
        }
        h4{
            font-family: "Edu NSW ACT Hand Pre", cursive !important;
        }
        h2,h3,h5,h6{
            font-family: "Rowdies", sans-serif;
            text-transform: capitalize;
            font-weight: 100;
        }
        a{
            font-family: "Edu NSW ACT Hand Pre", cursive !important;
            /* font-family: "Libre Baskerville", serif !important; */
            /* font-size: 20px; */
        }
        p{
            font-family: "Playfair Display", serif;
        }
        .carousel-item img{
            height:500px;
        }
        .carousel-caption{
          background-color:rgba(182, 161, 161, 0.5);
          padding: 10px
        }
        .s-card{
            position: relative;
        }
        .s-card img{
            height: 250px;
        }
        .s-card h6{
            display: inline-block;
            background-color: orange;
            padding: 3px 15px;
        }
        .card-text{
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1e2024);
            padding-top: 100px;
            width: 100%;
            text-align: center;
        }
        .card-t{
            padding: 15px 10px;
        }
        .run{
          background-color: rgb(23,40,99);
          padding: 20px 0;
        }
        .run h4{
          color: rgb(255, 255, 255);
        }
        .run marquee{
          color: red;
        }
        .top{
          margin: 40px;
        }
        .top h3{
          padding: 10px;
          background-color: antiquewhite;
          text-transform: uppercase;
        }
        .top-card{
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          margin: 5px;
          border-radius: 6px;
        }
        .top-card img{
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          height: 200px;
        }
        .signup{
          background-image: url(/static/img/Wallpaper.jpeg);
          background-position: center;
          background-size: cover;
        }
        .signin{
          background-image: url(/static/img/Wallpaper.jpeg);
        }
        .signin1 .form{
          padding: 40px 30px;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(15px);
          /* height: 40vh; */
        }
        .signin1 form input{
          height: 45px;
          width: 60%;
          border-radius: 10px;
          padding: 15px;
          
          /* -webkit-filter: blur(15px); */
          border: none;
        }
        @media (min-width:312px) and (max-width:567px) {
            .top-card img{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          height: 200px;
        }
        }
        .breaking{
          margin: 40px 0;
        }
        section h3{
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          padding: 10px 20px;
        }
        .detail{
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            padding: 20px;
        }
        .d-card{
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            padding: 20px;
            margin:10px;
        }
        .top5 a{
            text-decoration:  none;
            color: black;
        }
        .india-text{
          padding: 20px;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          margin: 10px 0;
        }
        .sa{
          margin: 60px auto;
        }
        section{
          width: 100% !important;
        }
        .slider{
          overflow-x:hidden;
        }