{% extends "base.html" %}

{% block contant %}

<div class="contain">
    <h1>SHOWING RESULT OF: {{query}}</h1>
    <div class="row w-100 p-5">
        {% if search %}
        {% for i in search %}
        <div class="col-lg-4">
            <div class="india-text">
                <img src="/media/{{i.image}}" class='img-fluid w-100' style="height:30vh;"alt="">
                <small style="color:#00b1cf;"><b>{{i.category}}</b></small>
                <small style="color:grey;">. {{i.publish}}</small>
                <h5>{{i.title | truncatechars:50}}</h5>
                <p>{{i.desc | truncatechars:85}}</p>
                <a href="{% url "details" i.id %}" class="btn btn-dark text-light">READ MORE</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center alert alert-danger" style="margin-bottom:23vh;">No Result Found! </h1>
        {% endif %}

    </div>
</div>

{% endblock contant %}