{% extends "base.html" %}

{% block contant %}
<div class="signin">
    <div class="container">
    <div class="row py-5">
        <div class="col-lg-4 offset-lg-4 signin1">
            <div class="form text-center">
                <h2 class="text-light mb-2" >sign in</h2>
                <form class="mb-3" method="post">
                {% csrf_token %}
                <p><input type="text" name="username" placeholder="Enter Your Username..."></p>
                <p><input type="password" name="password" placeholder="Enter Your Password..."></p>
                <button class="btn btn-primary" type="submit">SIGN IN</button>
            </form>
            <a  href="{% url "signup" %}" class="mt-4">You Don't have Account click here</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock contant %}